body{
	margin: 0;
	padding: 0;
	width: 100%;
	font-family: "Open Sans", sans-serif;
}

button, input, a{
	border: none;
	text-decoration: none;
}

header{
	background-image: url(../imgs/bron.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding: 20px;
	height: 100px;

}

.logo{
	float: left;
	background-color: #518ff6;
	margin-left: 150px;
	margin-top: 10px;
	padding: 8px;
}

.logo img{
	height: 60px;
}

.search-form{
	margin-top: 45px;
}

.search-form input{
	width: 520px;
	height: 35px;
    border-radius: 25px 0px 0px 25px;
    margin-left: 150px;
    float: left;
    font-size: 16px;
    line-height: 1.5;
}

[type="text"]{
	padding-left: 10px;
}


.search-form button{
	background-color: #518ff6;
	width: 117px;
	height: 37px;
	border-radius: 0px 20px 20px 0px;
	float: left;
}


.search-form button img{
	width: 17px;
}

.user-access{
	margin-right: 150px;
}

.user-access a{
	background-color: #518ff6;
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	float: right;
	margin: 5px;
	margin-top: -5px;
	padding: 15px;
}

.user-access a:hover{
	color: #fff;
	background-color:transparent;
}

.logo:hover{

	background-color:transparent;
}